TELEGRAM_BOT_TOKEN=8771930024:AAEP1cvyB97UlNspt8DDG6INMip89HnFE6s

# URL dari Google Apps Script Web App.
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzsxrfrNXNtq4Y8N0HldtBQqIt-FxRujbpZNUiBMTMRhZc-wY4ZTvnyzpbqj9inpyBVRQ/exec

# Opsional: batasi bot hanya untuk chat Telegram tertentu.
# Kosongkan kalau semua chat boleh input.
ALLOWED_CHAT_ID=

# Zona waktu untuk tanggal otomatis.
TIMEZONE=Asia/Jakarta
